.card {
  margin: 20px;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 15px;
  display: flex;
  background: linear-gradient(to right, rgb(173, 156, 2), rgb(228, 57, 5));
  cursor: pointer;
}

.card-id {
  text-align: middle;
  font-size: 0.8rem;
  font-size: large;
}

.card-img-top {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 0%;
}

.card-title {
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 20px 20px rgba(72, 6, 226, 0.2);
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 600px) {
  .card {
    font-size: 0.7rem;
    width: 80%;
  }

  .card-title {
    font-size: 0.8rem;
  }
}
